.page {
    background-image: linear-gradient(to left, blue, white);
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0px;
    align-items: stretch;
}
.title {
    display: flex;
    font-weight: bolder;
    font-size: 150px;
    display: flex;
    justify-content: center;
}
.description {
    display: flex;
    font-size: 40px;
    padding: 10px;
}
.text {
    display: flex;
    justify-content: center;
}
.longDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form {
    box-shadow: 15px 15px 10px 10px rgb(7, 7, 174);
    margin: 20px;
}

.mid {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-around;
    flex-wrap: wrap;
}
.Container {
    display: flex;
}
.left {
    display: flex;
    padding: 30px;
    justify-content: center;
    flex-direction: column;
    align-items: left;
}
.cl {
    word-break: "break-all";
}
